body {
  margin: 0;
  padding: 0;
}

.container-fluid {
  padding: 0 5px;
}

.image > img:hover {
  opacity: 0.5;
}

.title {
  padding-top: 2rem;
}

#title-user {
  display: inline-block;
  padding: 0 3rem;
  font-size: larger;
  letter-spacing: 7px;
}

#title-img {
  padding: .5rem 0;
}

.profile-img {
  border-radius: 50%;
}

#fullScreen {
  display: none;
}

#fs-img {
  width: 5%;
  height: 5%;
  padding: 10px 0;
}

#fs-username {
  display: inline-block;
  padding: 25px;
  letter-spacing: 3px;
}

#imgFull {
  display: flex;
  justify-content: center;
}

#caption-style {
  padding: 1rem 15.5rem;
  line-height: 25px;
}

#button-style {
  background-color: white;
  border: none;
  font-size: 20px;
  padding: 21px 0;
  outline: 0;
}

#add-comment-btn {
  background-color: lightgrey;
  border: none;
  outline: 0;
  padding: 3px 10px;
}

#commentBox {
  padding: 0 13rem;
}

#commentStyling {
  padding: 0 15.5rem;
  line-height: 1.5rem;
}

#commentSender {
  padding: 0.5rem 15.5rem;
  font-weight: bold;
}

.arrow-button {
  font-size: 75px;
  background-color: white;
  border: none;
}

.arrow-button:focus {
  outline: none;
}




